*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b5213;
}

 .container{

  background: #3de459;
  padding: 28px 32px;
  border-radius: 18px;
  font-family: 'Roboto', sans-serif;

   
 .search-box{
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-box input {
  color: #06283d;
  width: 80%;
  height: 50px;
  font-size: 24px;
  font-weight: 500;
  padding-left: 32px;
}

.search-box input::placeholder{
  font-size: 20px;
  font-weight: 500;
  color: #1d4429;
}

.search-box button{
  cursor: pointer;
  width: 100px;
  height: 50px;
  color: #06283d;
  background: #dff6ff;
  border-radius: 10%;
  font-size: 22px;
  transition: 0.4s ease;
}

.search-box button:hover{
  color: fff;
  background: #2c3941;
}

.search-box i{
  position: absolute;
  color: #013611;
  font-size: 28px;
}

.weather-box{
  text-align: center;
}

.weather-box img{
  width: 60%;
  margin-top: 0%;
}

.weather-box .temperature {

  position: relative;
  color: #013611;
  font-size: 4rem;
  font-weight: 800;
  margin-top: 30px;
  margin-left: -16px;

}

.weather-box .temperature span{
  position: absolute;
  margin-left: 4px;
  font-size: 1.5rem;

}

.weather-box .description {
  color: #013611;
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
}

.weather-details{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.weather-details .humidity .weather-details .wind{
  display: flex;
  align-items: center;
  width: 50%;
  height: 100px;
}

.weather-details .humidity {
  padding-left: 20px;
  justify-content: flex-end;
}

.weather-details .wind {
  padding-left: 20px;
  justify-content: flex-end;
}

.weather-details i{
  color: #013611;
  font-size: 26px;
  margin-right: 10px;
  margin-top: 6px;
}

.weather-details span{
  color: #013611;
  font-size: 22px;
  font-weight: 500;
}

.weather-details p{
  color: #013611;
  font-size: 14px;
  font-weight: 500;
}

.not-found {
  width: 100%;
  text-align: center;
  margin-top: 50px;

}

.not-found img{
  width: 70%;
  border-radius: 10%;

}

.not-found p{
  color: #06283d;
  font-size: 22px;
  font-weight: 500;
  margin-top: 12px;
}





 }