/* Option 2: Import via CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box; 
}

body{
  background-color: #003C43 !important;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
}

 .container{

  background: #135D66;
  padding: 28px 32px;
  border-radius: 18px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
   
 .search-box{
  width: 100%;
  padding: 28px 32px;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-box input {
  border-radius: 2%;
  color: #06283d;
  width: 80%;
  height: 50px;
  font-size: 20px;
  padding-left: 32px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}

.search-box input::placeholder{
  font-size: 20px;
  font-weight: 500;
  color: #1d4429;
}


.search-box button{
  cursor: pointer;
  width: 80;
  height: 50px; 
  border: 2px solid;
  background: #135D66;
  font-size: 18px;
  transition: 0.4s ease;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-left: 5%;
}

.search-box button:hover{
  color: fff;
  background: #77B0AA;
}

.weather-box{
  text-align: center;
}

.weather-box img{
  padding: 28px 32px;
  width: 40%;
  margin-top: 0%;
}

.weather-box .temperature {
  width: 40%;
  background: #135D66;
  position: relative;
  color: #77B0AA;
  font-size: 4rem;
  font-weight: 800;
  margin-left: 30%;
  border-radius: 3%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.15);
}

.weather-box .temperature span{
  position: absolute;
  margin-left: 4px;
  font-size: 1.5rem;
}

.weather-box .description {
  color: #77B0AA;
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
  margin-top: 30px;
}

.details-content {
  display: flex;
  justify-content: center;   
}

.weather-details {
  color: #77B0AA;
  display: flex;
  column-gap: 30px;
  padding-top: 20px;
  
}

.weather-details span{
  color: #77B0AA;
  font-size: 22px;
  font-weight: 500;
  display: inherit;
} 

.weather-details #wind-icon{
  height: 50px;
  width: 50px;
}

.weather-details #water-icon{
  height: 50px;
  width: 50px;
}



.not-found {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.not-found img{
  width: 70%;
  border-radius: 10%;  
}

.not-found p{
  color: #77B0AA;
  font-size: 22px;
  font-weight: 500;
  margin-top: 12px;
}

}