*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  
}

body{
  background-color: #2a771e !important;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

 .container{

  background: #44a038;
  padding: 28px 32px;
  border-radius: 18px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

   
 .search-box{
  width: 100%;
  padding: 28px 32px;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-box input {
  border-radius: 2%;
  color: #06283d;
  width: 80%;
  height: 50px;
  font-size: 20px;
  padding-left: 32px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
  
}

.search-box input::placeholder{
  font-size: 20px;
  font-weight: 500;
  color: #1d4429;
  
}


.search-box button{
  
  cursor: pointer;
  width: 80;
  height: 50px; 
  border: 2px solid;
  background: #24bb45;
  font-size: 18px;
  transition: 0.4s ease;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-left: 5%;

}

.search-box button:hover{
  color: fff;
  background: #066112;
}

.search-box i{
  position: absolute;
  color: #013611;
  font-size: 28px;
}

.weather-box{
  text-align: center;
}

.weather-box img{
  background: #37802d;
  width: 40%;
  margin-top: 0%;
}

.weather-box .temperature {
  width: 40%;
  background: #37802d;
  position: relative;
  color: #013611;
  font-size: 4rem;
  font-weight: 800;
  margin-top: 10px;
  margin-left: 217px;

}

.weather-box .temperature span{
  position: absolute;
  margin-left: 4px;
  font-size: 1.5rem;

}

.weather-box .description {
  color: #013611;
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
  margin-top: 30px;
}

.weather-details{
  width: 100%;
  display: inherit;
  justify-content: space-between;
  margin-top: 30px;
}

.weather-details .humidity .weather-details .wind{
  display: flex;
  align-items: center;
  width: 50%;
  height: 100px;
}


.weather-details span{
  color: #013611;
  font-size: 22px;
  font-weight: 500;
}


.not-found {
  width: 100%;
  text-align: center;
  margin-top: 50px;

}

.not-found img{
  width: 70%;
  border-radius: 10%;

}

.not-found p{
  color: #2c5e25;
  font-size: 22px;
  font-weight: 500;
  margin-top: 12px;
}





 }